/*
    making game canvas center
*/

#game-block {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .4);
}

#canvas-block {
    height: 400px;
    width: 400px;

    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

/* 
    room panel 
    hover animation
*/

.room-panel {
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, .3);
    transition: box-shadow 0.5s ease;
}

.room-panel:hover {

    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, .3);
}